name: Build and Push to Docker Hub

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checkout repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # Login to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build Backend Image
    - name: Build Backend Image
      run: |
        docker build -t shaiksahil123/moneyswap-backend:latest ./cashswap-backend

    # Push Backend Image
    - name: Push Backend Image
      run: |
        docker push shaiksahil123/moneyswap-backend:latest

    # Build Frontend Image
    - name: Build Frontend Image
      run: |
        docker build -t shaiksahil123/moneyswap-frontend:latest ./cashswap-frontend

    # Push Frontend Image
    - name: Push Frontend Image
      run: |
        docker push shaiksahil123/moneyswap-frontend:latest
