name: Build and Push to Docker Hub

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build Backend
    - name: Build Backend Image
      run: |
        docker build -t shaiksahil123/moneyswap:backend ./cashswap-backend

    - name: Push Backend Image
      run: docker push shaiksahil123/moneyswap:backend

    # Build Frontend
    - name: Build Frontend Image
      run: |
        docker build -t shaiksahil123/moneyswap:frontend ./cashswap-frontend

    - name: Push Frontend Image
      run: docker push shaiksahil123/moneyswap:frontend
